* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}

/* Roboto font  */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Poetsen font  */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





.main-h35 {
    display: none;
}

.main-h34 {
    display: block;
    padding-top: 20px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
}

.main-ul {
    padding: 20px 20px 20px 10px;
    /* min-width: 17vw; */
}

.main-ul li {
    list-style: none;
    cursor: pointer;
    margin: 0px 0px 2px 0px;
    padding: 11px 0px 11px 0px;
    border-radius: 15px;


}

.main-h6 img {
    margin: 0px 10px 0px 0px;
}

.main-ul li img {
    margin: 0px 10px 1px 4px;
}

.main-ul li:hover,
.main-h6:hover {
    border: 1px solid #e4d2d24f;
    background-color: #e4d2d24f;
    color: black;
}


/* second div colomn  */
.main2-li {
    background-color: bisque;
    display: none;
    overflow-x: scroll;
    border-bottom: 1px solid #e4d2d2a2;
    /* border: 2px solid black; */
}

::-webkit-scrollbar {
    width: 10px;
}

.main2-li div {
    margin: 7px 10px;

}



.main2-li li {
    list-style: none;
    font-size: 14px;


}


/* grid system  */

#divOne {
    position: sticky;
    top: 0;
    z-index: 30;
    flex-grow: 2;
    width: 16%;
    height: 100vh;
    border-right: 1px solid #a091916b;
}

#divTwo {
    flex-grow: 4;
    /* margin-top: -10px; */
    /* margin-left: 16vw; */
    min-height: 100vh;
    width: inherit;
    /* grid-area: homebar; */
}



#gridSystem {
    position: relative;
    left: 0;
    display: flex;
    /* width: 100% */
    /* max-height: 100vh; */
    /* grid-template-columns: 1fr 4fr; */
    /* grid-template-rows: 80px 200px; */
    /* gap: 10px; */

    /* grid-template-areas:
        'sidebar homebar homebar homebar'
    ; */

}





/* gridSystem2 css  */

.gridSystem2 {
    display: none;
}




/* media query  */





/* mobile width compoents css  */

.Main3-header {
    align-items: justify;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid rgb(0 0 0 / 19%);

}

.Main3-between {

    z-index: 1;
    padding-top: 11vh;
    height: auto;
    overflow: hidden;
}


/* main-bottom  */


.Main3-bottom {
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 1px solid rgb(0 0 0 / 19%);
}








/* @media screen and (max-width: 1264px) { */
@media (max-width: 766px) {


    .ManuText {
        display: none;
    }

    .main-h34 {
        display: none;
    }

    .main-h35 {
        display: block;
    }



    .main-ul {
        text-align: center;
        padding: 0px 12px 0px 0px;
        font-size: 0.7vw;
    }

    .AddCardCss {
        width: 60%;
    }

    .main-ul li {
        width: 100%;
    }



    /* .main-h6 {
        text-align: center;
        margin-top: -20px;
    } */

    /* .main-h6 img {
        width: 22px;
        height: 22px;
    } */

    .main-ul li img {
        width: 22px;
        height: 22px;
    }

    /* #gridSystem {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 5fr;


    } */

}


@media screen and (max-width:566px) {


    #gridSystem {
        display: none;
    }

    .gridSystem2 {
        display: block;
    }

    .AddCardCss {
        width: 100%;
    }



}