.Post-comment:focus {
  /* border: none; */
  outline: none;
  /* font-size: 20px; */
}

.PostCard {
  flex: "1 0 auto";
  max-width: 400px;

}

@media screen and (max-width: 575px) {
  .PostCard {
    max-width: 100%;

  }
}