.Post-comment:focus {
  /* border: none; */
  outline: none;
  /* font-size: 20px; */
}

body {
  background: rgb(241, 242, 243);
}

#postCard {
  margin: 10px 0px;
  display: flex;
  align-items: stretch;

}



/* .AllPostCss {
  min-width: 100vw;
  margin-bottom: 7vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

#PostCardImage {
  width: 100vw;
  /* height: 95vh; */
}

.AddCardCss {
  width: 50%;
}



/* @media screen and (max-width: 767px) {
 
} */